.grayed {
  background-color: #edf2f7;
  padding-bottom: 20px;
}

.room-name {
  padding: 25px;
  font-size: 30px;
}

.card-table {
  border: black 1px solid;

}

:host {
  display: block;
  height: 30000px;
  background: url("../assets/images/demo-bg.jpg");
}
