<div class="pt-3">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="input-group col-8 offset-2 ">
      <input type="text" formControlName="roomName"
             class="form-control"
             placeholder="Название комнаты"
             aria-describedby="button-addon2">
    </div>
    <div class="input-group container mt-3">
      <div formArrayName="questions" class="col-md-12">

        <ng-container *ngFor="let question of questions.controls; let i=index">
          <div class="row">
            <div class="col-md-12">
              <app-story-edit [formControlName]="i"></app-story-edit>
            </div>
            <button *ngIf="questionsCount>1" (click)="removeQuestion(i)" type="button" class="btn col-2 close"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </ng-container>

      </div>
    </div>
    <span class="btn col-4 offset-4 mt-3 mb-3 btn-outline-secondary" (click)="addQuestion()">Добавить вопрос</span>
    <div>
      <button [disabled]="isLoading || form.invalid" class="btn btn-outline-primary col-4 offset-4" type="submit">
        Создать
      </button>
    </div>
  </form>
</div>


