<button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
<ng-template #template>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <button (click)="down()">Down</button>
  <input placeholder="{{value}}">
  <button (click)="up()">Up</button>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>

